<!-- BOUTONS SCROLL-> ancre 2-->
<a href="#article-anch-2" class="white anch">
    <div class="button">
        <p class="t-a-center">
            <i class="fas fa-chevron-down"></i>
        </p>
    </div>
</a>