// --------------------- Propriété de couleurs
//-----------------fonts

//custom color 1
.color-1{
  color: $color-1;
}
//custom color 2
.color-2{
  color: $color-2;
}
//custom color 3
.color-3{
  color: $color-3;
}
.color-4{
  color:$color-4;
}
.color-5{
  color:$color-5;
}
.color-6{
   color:$color-6;
 }
// ROUGE primaire = Pour les icones et mentions importants (erreur, danger), et autres
.red{
  color:red;
}
// VERT-JAUNE = Success, etc.
.green{
  color: greenyellow;
}
//Bleu Primaire
.blue{
  color: blue;
}
//NOIR
.black{
  color:black
}
//BLANC
.white
{
  color:white;
}

//-----------------Border

//custom brd-color 1
.brd-color-1{
  border-color: $color-1;
}
//custom brd-color 2
.brd-color-2{
  border-color: $color-2;
}

//custom brd-color 3
.brd-color-3{
  border-color: $color-3;
}
//custom brd-color 4
.brd-color-4{
  border-color: $color-4;
}
//custom brd-color 5
.brd-color-5{
  border-color: $color-5;
}
//custom brd-color 6
.brd-color-6{
  border-color: $color-6;
}
// ROUGE primaire = Pour les icones et mentions importants (erreur, danger), et autres
.brd-red{
  border-color: red;
}
// VERT-JAUNE = Success, etc.
.brd-green{
  border-color: greenyellow;
}
//Bleu Primaire
.brd-blue{
  border-color: blue;
}
//NOIR
.brd-black{
  border-color:black
}
//BLANC
.brd-white
{
  border-color:white;
}
//-----------------Background

//custom bk-color 1
.bk-color-1{
  background-color: $color-1;
}
//custom bk-color 2
.bk-color-2{
  background-color: $color-2;
}
//custom bk-color 3
.bk-color-3{
  background-color: $color-3;
}
//custom bk-color 4
.bk-color-4{
  background-color: $color-4;
}
//custom bk-color 5
.bk-color-5{
  background-color: $color-5;
}
//custom bk-color 6
.bk-color-6{
  background-color: $color-6;
}
// ROUGE primaire = Pour les icones et mentions importants (erreur, danger), et autres
.bk-red{
  background-color:red;
}
// VERT-JAUNE = Success, etc.
.bk-green{
  background-color: greenyellow;
}
//Bleu Primaire
.bk-blue{
  background-color: blue;
}
//NOIR
.bk-black{
  background-color:black
}
//BLANC
.bk-white
{
  background-color:white;
}

