/* Scrollbars */
::-webkit-scrollbar {
  width: 5px;
  height: 14px;
  background: transparent;
}
//Scroll
.smooth
{
  scroll-behavior: smooth;
}
tr{
  transition: 0.3s;
}

//hover boutons nav
.carousel-control-prev:hover,
.carousel-control-next:hover{
  opacity: 0.5 !important;
}
.anch:hover{
  color: $color-3 !important;
}
.lsn:hover{
  text-decoration: none;
  color: $color-1;
}

//bordures hautes:hover

.border-t-1px-h:hover{
  border-top: 1px solid;
}
.border-t-3px-h:hover{
  border-top: 3px solid;
}
.border-t-5px-h:hover {
  border-top: 5px solid;
}
.border-t-10px-h:hover{
  border-top: 10px solid;
}

.link:hover{
  color: $color-5;
  border-color: $color-1;
}

