<header class="header h10 w-100 bk-white color-1 sticky row">
    <a class="d-b col-md-2" href="{{ site.url }}">
        <img class="img d-b m-a" src="{{ theme.link }}\assets/img/logo.png" alt="">
    </a>
    <div class="offset-8 offset-md-2"></div>
    {% include "partials/menus/primary-menu.twig" %}
    {% include "partials/menus/dropdown-menu.twig" %}
</header>

