@import "partials/vars";
@import "partials/fonts";
@import "partials/states";
@import "partials/colors";
@import "partials/border";
@import "partials/background";
@import "partials/display";
@import "partials/blocks";
@import "partials/deco.scss";
@import "partials/padding-margin";

.body{
  padding: 0;
  }

a{
  text-decoration: none;
}
.link{
  transition: 0.3s;
}
//-----------------------------------------------------------------------------------
// Entrez votre personnalisation scss ici



//-----------------------------------------------------------------------------------
@import "partials/responsive_tablet";
@import "partials/responsive_desktop";
