<nav class="nav d-none d-lg-block col-md-8">
    <ul class="links">
        {% for item in menu.items %}
            <a class="lsn color-1 d-b" href="{{ item.link }}/#article-anch">
                <li class="p20 border-t-5px-h link w-20">{{ item.title }}</li>
            </a>
        {% endfor %}
    </ul>
</nav>