<!doctype html>
<html lang="fr">
    <head id="head">
        {% include "partials/head.twig" %}
    </head>
    <body id="body" class="body">

        {% block tmp_slide %}{% endblock %}
        {% include "partials/header.twig" %}
        {% block content %}{% endblock %}
        {% include "partials/footer.twig" %}
        {% include "partials/script.twig" %}
    </body>

</html>